.BannerIMG
{
    position: relative;
    left:37%;
    width:25%
}
.Home
{
    display: flex;
    flex-direction: column;
}
.Quiz
{
    width: fit-content;
    padding: 1%;
    border: none;
    border-radius: 1.5rem;
    position: relative;
    left:46%;
    margin-top: 5%;
    cursor: pointer;
    background-color: #555555;
    color: #FFCA5A;
}